<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.jca.code_review_scoreboard</string>
  <key>Program</key>
  <string>{script_dir}/pull.py</string>
  <key>RunAtLoad</key>
  <false/>
  <key>StandardOutPath</key>
  <string>{log_dir}/code_review_scoreboard.log</string>
  <key>StandardErrorPath</key>
  <string>{log_dir}/code_review_scoreboard.err</string>
  <key>StartCalendarInterval</key>
  <dict>
      <key>Hour</key>
      <integer>16</integer>
      <key>Minute</key>
      <integer>22</integer>
  </dict>
</dict>
</plist>
